# coding: utf-8

<h2><%=@title%></h2>

<% @datas.each do |data| %>
<div>
  <h4><%= data.id %>:<%= data.name %></h4>
  <ul class ="thred">
  <li>いいね：<%= data.favo %></li>
  <li>投稿時間：<%= data.created_at %></li>
 </ul>
</div>
<hr>
<% end %>
